@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image: linear-gradient(to bottom, #acbdbc, #FFFAEF 30%);
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFAEF;
}
main a{
    text-decoration: none;
    color: black;
}
main li{
    list-style: none;
}

body {
    position: relative;
}

body:before {
    content: "";
    background-image: url("https://images.pexels.com/photos/450004/pexels-photo-450004.jpeg");
    background-repeat: repeat-y;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-attachment: fixed;
}
container {
    position: relative;
    background-color: #fffaef;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}


.section1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid black;
}
/* 프로필 사진 */
.section1-profile{
    border-right: 1px solid black;
    height: 400px;
    width: auto;
    border-radius: 50%;
    border: transparent;
    margin: 100px 80px 80px 80px;
   
}

/* 공통 버튼 */
button{
    background-color: transparent;
    border: transparent;
}

/* 사용자_님 반갑습니다, 한 줄 소개 */
.section1-user{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
}
/* 반갑습니다 */
.section1-h1{
    font-size: 40px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    padding-bottom: 40px;
}
/* 한줄소개 */
.section1-p{
    font-size: 24px;
    font-family: "Wanted Sans";
    font-weight: bold;

}
/* 리뷰개수 */
.section2{
    font-size: 24px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    padding: 40px 0px 40px 0px;
    padding-left: 100px;
}
.section3 img{
    width: 300px;
    height: 400px;
}

.section3{
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 100px;
}
.section3-contain{
    border-bottom: 1px solid black;
}
/* 홍길동, 별점 */
.section3-writer{
    display: inline-block;
    margin-top: 40px;
    border-bottom: 1px solid black;

    font-size: 30px;
    padding: 0px 50px 30px 60px;


}
.section3-contain div:nth-of-type(2){
    display: flex;
    align-items: center;
}
.fa-triangle-exclamation{
    display: flex;
    align-items: first;
}
.section3-writer span:nth-of-type(2){
    margin-left: 30px;
}
/* 등록시간 */
.section3-enrolltime{
    display: flex;
    align-items: center;
    margin-left: 700px;
    font-size: 20px;
    padding-left: 60px;
}


/* 이용자 로고 */
.section3-writer img{
    width: 90px;
    
}
/* 홍길동, 별점 */
.section3-writer div{
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-family: "Wanted Sans";
    font-size: 24px;
}


/* 매장리뷰 내용 */
.section3-context{
    display: flex;
    margin: 0px 110px 0px 110px;
    width: 880px;
    padding-top: 40px;
    font-family: "Wanted Sans";
    font-size: 24px;
    height: 130px;
}

/* 리뷰내용 */
.section3-context p{
    margin-left: 30px;
    overflow: overlay;
    font-size: 24px;
    font-family: "Wanted Sans";
}

/* 댓글, 좋아요 */
.section3-like{
    font-size: 26px;
    margin: 0px 60px 0px 800px;
    justify-content: end;
    font-size: 24px;
    font-family: "Wanted Sans";
    font-weight: bold;
}

/* 댓글, 좋아요 버튼 */
.comment-btn, .like-btn{
    background-color: transparent;
    font-size: 24px;


}
.comment-btn{
    margin-right: 20px;
}

/* 신고버튼 */
.fa-triangle-exclamation{
    margin: 6px 70px 0px 40px;
    font-size: 20px;
}
.report-btn{
    background-color: transparent;
    border: transparent;
    cursor: pointer;

}