/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

/* 
font-family: 'Courgette';
font-family: 'Wanted Sans';
font-family: 'Nanum Gothic';
font-weight:Bold;*/

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

body:before {
    content: "";
    background-image: url("https://images.pexels.com/photos/450004/pexels-photo-450004.jpeg");
    background-repeat: repeat-y;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-attachment: fixed;
}

container {
    position: relative;
    background-color: #fffaef;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}


/* 메인(main) */
[data-scroll] {
    transition: opacity 3s;
}

[data-scroll="in"] {
    opacity: 1;
}

[data-scroll="out"] {
    opacity: 0;
}

main,
.section0,
.section1,
.section2,
.section3 {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-image: linear-gradient(to bottom, #acbdbc, #FFFAEF 60%);
    padding-bottom: 100px;
}

main a {
    text-decoration: none;
    color: black;
}
section a{
	text-decoration: none;
    color: black;
}

main li {
    list-style: none;
}

/* 메인 로고 */
main img {
    width: 600px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

/* we find we drink */
main h1 {
    font-family: "Courgette";
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.main-search {
    background-color: #E6E6E6;
    display: flex;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 60px;
    border-radius: 30px;
    border: transparent;


}

.fa-magnifying-glass {
    font-size: 30px;
    cursor: pointer;
    position: relative;
    left: 0px;
    margin-left: 480px;
    bottom: 44px;

}

/* 지도 */
.map-div {
    display: flex;
    justify-content: center;
    margin: 40px;
    position: relative;
    z-index: 0;
}

.section0 {
    font-family: 'Nanum Gothic';
    font-weight: bold;
    background-color: #FFFAEF;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 40px 0px;
    text-align: center;
}
.main-search{
    padding: 0px 0px 0px 50px;
    font-family: "Wanted Sans";
    font-weight: bold;
    font-size: 20px;
}

.section1{
    display: flex;
    background-color: #FFFAEF;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
}
.section1 i{
    margin-top: auto;
    margin-bottom: auto;
}


.section1-wrap{
    /* position: relative; */
    width: 650px;
    height: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s;
    margin-left: auto;
    margin-right: auto;
    
}
.section1-table{
    border-right: 1px solid black;
    font-family: "Wanted Sans";
    font-weight: bold;
    margin: 50px;
}
.table1{
    left:0px;
}
.section1-table:nth-of-type(1){
    border-left: 1px solid black;
}
.section1-img{
    width: 210px;
    height: 280px;
}
.fa-angle-left, .fa-angle-right{
    font-size: 40px;
    cursor: pointer;
    margin: 180px;
}
.section1 td{
    width:140px;
    text-align:left;
    padding: 6px;
}
.section1-star{
    border-top: 1px solid black;
}



.section2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 542px;
}

.section2-left,
.section2-right {
    background-color: #FFF5DF;
    font-family: 'Nanum Gothic';
    font-weight: bold;

}

.section2-left video {
    width: 960px;
}

.section2-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.section2-right h2,
.secion2-right button {
    padding: 40px;
}

.section2-right h2 {
    text-align: center;
    font-size: 32px;

}

.section2-right-a {
    background-color: transparent;
    border: 1px solid black;
    padding: 24px 100px;
    font-size: 20px;

}

.section2-right-a:hover {
    background-color: #6B8E8B;
    cursor: pointer;

}

.section3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Nanum Gothic';
    font-weight: bold;
}

.section3-left,
.section3-right {
    background-color: #FFF5DF;

}

.section3-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3-left h2 {
    font-size: 34px;
}

.section3-left-a {
    background-color: transparent;
    border: 1px solid black;
    padding: 24px 100px;
    font-size: 20px;

}

.section3-left-a:hover {
    background-color: #6B8E8B;
    cursor: pointer;

}

.section3-left h2,
.secion2-left button {
    padding: 50px;
    text-align: center;
}

.section3-right {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.section3-profile{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.section3-store-img {
    width: 300px;
    height: 400px;
}

.swiper-wrapper{
    display:flex;
    
}
.section3-context {
    text-decoration: none;
    color: black;
    margin: 20px 14px;
    width: 33.333%;  /* 3개의 슬라이드가 화면에 보이도록 설정 */
    box-sizing: border-box;
}

.section3-text {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.section3-heart {
    font-size: 20px;
    padding: 10px 15px;

}

.section3-nameheart {
    text-align: center;
    margin-top: 14px;
}
.section3-title{
	font-size: 30px;
	text-align: first;
	font-family: "Wanted Sans";
    font-weight: bold;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active{
    color:#000;text-decoration: none;
}
/* #menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;} */
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {
    position: relative;
    overflow: hidden;
    cursor: pointer;min-height: 65px;
    margin: 20px 50px;
}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
/* #placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;} */
#placesList .info .tel {color:#3c583c;}
#placesList .item .markerbg {
    float:left;
    position:absolute;width:36px; 
    height:37px;
    margin:10px 0 0 10px;
    background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;

}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {
    text-align: center;
    font-size: 18px;
    font-family: "Wanted Sans";
    margin: 20px 0px;
}
#pagination a {
    display:inline-block;
    margin-right:10px;
}
#placesList{
    font-size: 22px;
    font-family: "Wanted Sans";
}