@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}
body:before {
    content: "";
    background-image: url("https://images.pexels.com/photos/450004/pexels-photo-450004.jpeg");
    background-repeat: repeat-y;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-attachment: fixed;
}
container {
    position: relative;
    background-color: #fffaef;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}
/* 메인(main) */
main, .section0, .section1, .section2, .section3{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
main{
    background-image: linear-gradient(to bottom, #acbdbc, #FFFAEF 60%);
    padding-bottom: 100px;    

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5fr;
    
    
}
main a{
    text-decoration: none;
    color: black;
}
main li{
    list-style: none;
}

.main-1{
    border-right: 1px solid black;
}
.main-3 {
    border-right: 1px solid black;
    display:flex;
    flex-direction: column
}
/* 로고(logo) */
.main-3 img{
    width: 500px;
    margin: 0px 100px;
}
.main-3 p{
    margin: 30px 100px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
}
.main-input{
    width:750px;
    border: transparent;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 10px 100px;
    padding: 20px 50px 20px 10px;
    font-family: "Wanted Sans";
    margin-bottom: 50px;
    font-size: 20px;
    outline: none;

}
/* 아이디저장, 로그인 버튼 */
.main-4{
    font-family: "Wanted Sans";
    font-weight: bold;
    align-items: center;
    margin-left: 210px;
    width: 750px;

}

/* 카카오 로그인 */
.main-4 img{
    width: 102px;
}

/* 아이디저장 */
.main-4 input{
    margin-left: 90px;

}

.main-right{
    font-family: 'Nanum Gothic';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-top: 488px;
    margin-left: 50px;
}
.main-right p{
    margin-bottom: 14px;
    font-size: 16px;
}

/* 로그인/회원가입 버튼 */
.login-btn, .signup-btn{
    cursor: pointer;
    font-family: "Courgette";
    font-weight: bold;
    font-size: 26px;
    display: inline;
    padding: 10px 20px;
}
.login-btn{
    margin: 50px 100px;
    margin-left: 200px;
    background-color: transparent;
    border:transparent;
}
.login-btn:hover, .signup-btn:hover{
    color:#acbdbc;
}

.password-area1{
    position: relative;
}
.password-area1 .fa-eye, .password-area1 .fa-eye-slash {
    position: absolute;
    top: 30px;
    left: 800px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    padding: 10px;
}