@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-3 {
    display:flex;
    flex-direction: column;
    position: relative;
}
main{
    background-image: linear-gradient(to bottom, #acbdbc, #FFFAEF 30%);
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFAEF;
}
main a{
    text-decoration: none;
    color: black;
}
main li{
    list-style: none;
}

body {
    position: relative;
}

body:before {
    content: "";
    background-image: url("https://images.pexels.com/photos/450004/pexels-photo-450004.jpeg");
    background-repeat: repeat-y;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-attachment: fixed;
}
container {
    position: relative;
    background-color: #fffaef;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}


/* 메인(main) */
/* main{
} */
/* 공통 버튼 */
button{
    background-color: transparent;
    border: transparent;
}

.main-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid black;

    position: relative;

    margin-top: 400px;
    

}
/* 매장리뷰, 보고싶은 타입으로 정렬하세요 */
.section2-title{
    font-size: 38px;
    font-family: 'Nanum Gothic';
    font-weight: bold;
    margin-left: 80px;
    padding: 50px 0px 30px 0px;
}
.section2-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-family: "Wanted Sans";
    font-size: 20px;
    padding: 10px 0px;
    margin-right: 50px;



}
.section2-info p{
    margin-right: 20px;
}
/* 등록순, select */
.section2-info div{
    display: flex;
    margin: 20px;
}

/* 평점순 */
#review-range{
    border: transparent;
    padding: 1px 20px;

    margin: 0px 30px;
    
}

/* select버튼 */
.select-btn{
    cursor: pointer;
    font-family: "Courgette";
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: center;



}
.select-btn:hover{
    color:#acbdbc;
}

.main-2{
    border-bottom: 1px solid black;
    position: relative;
}

/* 이용자 정보 */
.section3-writer{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    margin: 40px 70px 0px 100px;
    align-items: center;
    font-size: 24px;
    font-family: "Wanted Sans";

}
.section3-writer span:nth-of-type(3){
    margin-bottom: 6px;
}


/* 이용자 로고 */
.section3-writer img{
    width: 90px;
    
}
/* 홍길동, 별점 */
.section3-writer div{
    display: flex;
    align-items: center;
    padding-left: 30px;
}


/* 매장리뷰 가게 사진, 내용 */
.section3-context{
    display: flex;
    margin: 40px 110px;
}

/* 매장리뷰 가게 사진 */
.store-img{
    width: 160px;
    height: auto;

}
/* 리뷰내용 */
.section3-context p{
    margin-top: 20px;
    margin-right: 60px;
    font-size: 24px;
    font-family: "Wanted Sans";
    overflow: overlay;
    width: 1000px;
    height: 200px;
}

/* 더보기, 댓글, 좋아요 합친 것*/
.section3-detail{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    margin-bottom: 80px;
    margin-right: 30px;
}
.detail-btn, .comment-btn, .like-btn{
    font-size: 28px;
    padding: 0px 16px;
    font-family: "Wanted Sans";
}
/* 댓글, 좋아요 */
.section3-like{
	display: grid;
	grid-template-columns: 1fr 1fr;
    font-size: 40px;
    margin: 0px 60px 30px 0px;
}


/* 댓글 버튼 */
.comment-btn, .like-btn{
    background-color: transparent;

}

/* 수정, 삭제 버튼 */

.section3-btn{
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.section3-btn span{
    margin: 0px 50px;
    display: flex;
    align-items: center;
}

#update-btn, #delete-btn{
    cursor: pointer;
    font-family: "Courgette";
    font-weight: bold;
    font-size: 26px;
}
#update-btn:hover, #delete-btn:hover{
	color:#acbdbc;
}


#update-btn{
    margin-top: 24px;
}


/* #update-btn:hover, #delete-btn:hover{
    color:#acbdbc;
} */




/* 신고버튼 */
.fa-triangle-exclamation{
    margin: 6px 70px 0px 40px;
    font-size: 20px;
}
.report-btn{
    background-color: transparent;
    border: transparent;
    cursor: pointer;

}


/* 페이지네이션(Pagination) */
.pagination{
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    padding: 70px 0px;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    /* letter-spacing: -2px; */
}

/* 현재 페이지 번호 */
.pagination .current{
    font-weight: bold;
}
.pagination:hover .current:hover{
    background-color:#acbdbc;
}
